
.contenedor-footer{
    height: 200px;
    background-color: #181a1b;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    color: white;



    .descargar{
        width: 300px;
    }


}

ul li{
    list-style: none;
}

.redes-sociales ul {
    display: flex;
    margin-top: 40px;
    font-size: 50px;
}

.red-social{
    margin: 5px;
}

.redes-sociales a {
    text-decoration: none;
    color: white; 
}

/*Estilos para el comportamiento del footer en pantallas mas pequeñas*/
@media screen and (max-width: 768px){
    .contenedor-footer{
        height: 200px;
        flex-wrap: wrap;

        justify-content: center;
        padding-top: 80px;
        color: white;
    
    
    
        .descargar{
            width: 300px;
        }
    
    
    }

    .informacion-app-movil{
        display: none;

    }

    .red-social{
        margin: 5px;
    }




}





