<div class="contenedor-footer">
  <div class="informacion-app-movil">
    <h1>Descarga nuestra app movil</h1>
    <ul>
      <li>
        <a href="#"
          ><img
            src="\assets\images\googleplay.png"
            alt="Descarga la app en google play store"
            class="descargar"
        /></a>
      </li>
    </ul>
  </div>
  <div class="contenedor-redes-sociales">
    <h1>Redes sociales</h1>
    <div class="redes-sociales">
      <ul>
        <li class="red-social"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li class="red-social"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="red-social"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div>
